/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
html, body{
    font-size: 100%;
	font-family: 'Open Sans', sans-serif;
	background:#ffffff;
	margin:0px!important;
}
p{
	margin:0;
	font-size:14px;
}
h1,h2,h3,h4,h5,h6{
font-family: 'Ubuntu', sans-serif;
	margin:0;
}
ul,label{
	margin:0;
	padding:0;
}
body p{
	font-family: 'Open Sans', sans-serif;
}
body a:hover{
	text-decoration:none;
	    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
}

/*-- /tabs --*/
.featured_section_w3l {
      padding: 5em 0 22em 0;
}
.tab-content>.tab-pane {
	padding-top: 50px;
}
.nav-tabs>li>a {
	    padding: 15px 44px;
    font-size: 19px;
    font-weight: 400;

    border-radius: 0;
    color: #333;
    background: none;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
	outline:none;
		transition: .5s ease-in;
	-webkit-transition: .5s ease-in;
	-moz-transition: .5s ease-in;
	-o-transition: .5s ease-in;
	-ms-transition: .5s ease-in;
	border:none;
	 border-bottom:4px solid #fff;
}
.nav-tabs > li > a:hover {
 border-color:none!important;
border-bottom: 4px solid #E16B5B!important;
    width: 70%;
}
.nav-tabs>li>a:hover,.nav>li>a:focus {
	text-decoration: none;
	background:none!important;
	color: #FFF!important;
	border-bottom: 4px solid #E16B5B!important;
	    width: 70%;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
	  background:none!important;
     color: #008B8B!important;
	     border: none!important;
    border-bottom: 4px solid #E16B5B!important;
	    width: 70%;

}
.tab-image img {
    width: 100%;
}
.tab-info p {
	    font-size: 0.9em;
		color: #777;
		    line-height: 1.9em;
      margin: 1em 0 1em 0;
}
.nav-tabs>li>a:hover, .nav>li>a:focus {
    text-decoration: none;
     background:none!important;
    color:#008B8B!important;
border:none!important;
	border-bottom: 4px solid #E16B5B!important;
}
.nav-tabs>li>a:hover, .nav>li>a:focus {
    text-decoration: none;
    background:none!important;
    color: #008B8B!important;
	border:none!important;
	border-bottom: 4px solid #E16B5B!important;
}
.nav-tabs > li {
    float: left;
    margin: 0 auto;
       width: 31%;
    margin: 0 1%;
}
.img-grids{
	position:relative;
}
.lugar_descricao {
    padding: 22px 15px;
    text-align: center;
    border: 1px solid#ddd;
}

.lugar_descricao .price {
    margin: 0!important;
}
.card {
    position: relative;
    float: left;
    padding-bottom: 18%;
    width:32%;
    text-align:center;
    margin-right:2%;
}

.card:nth-child(3) {
  margin-right:0;
}

/* card text */
.card__text {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  color: black;
}
.img-grid img {
    width: 100%;
}
.login-top.sign-top{
	padding:0;
}
.login-top.sign-top form{
    padding: 2em 2em;
}


/*-- gallery --*/
.agile_gallery_grids{
	margin:2em 0 0;
}
.demo > li {float:left;list-style-type: none;margin: 10px;}
.demo > li img { width:265px; cursor:pointer;}
/*jquery.picEyes*/

/*inputs*/
#msform input, #msform textarea {
	padding:12px 12px;
	border: 1px solid #ccc;
	border-radius:0px!important;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
	outline:none;
		font-family: 'Open Sans', sans-serif;
}

/*-- /footer --*/
.footer{
	background: #252727;
	padding:3em 0;
}
.footer-grid h3{
	font-size: 1.2em;
    color:#fff;
    margin:0 0 1em;
    position:relative;
    padding-bottom: .5em;
    text-transform: uppercase;
    font-weight: 400;
}
.footer-grid h3:before{
	position:absolute;
    bottom: 0%;
    left: 0%;
    width:30%;
    height: 1px;
    background:#828282;
    content: '';
}
.footer-grid p{
	font-size:14px;
	color:#999;
	line-height:1.8em;
	margin:0;
}
.footer-grid p span{
	display:block;
	margin:1em 0 0;
}
.footer-grid ul li{
	list-style-type:none;
	margin-bottom:1em;
	color:#999;
	font-size:14px;
}
.footer-grid ul li i{
	color: #999;
    border: 1px solid #999;
    padding:.5em;
    border-radius: 100%;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-o-border-radius: 100%;
	-ms-border-radius: 100%;
    margin-right: 1em;
}
.footer-grid ul li span{
	display:block;
	margin-left: 3em;
}
.footer-grid ul li a{
	color:#999;
	text-decoration:none;
}
.footer-grid ul li a:hover{
	color:#fff;
}
.footer-grid-left{
	float:left;
	width:33.33%;
	padding:.3em;
}
.footer-grid-sub-grid-left{
	float:left;
	width:30%;
}
.footer-grid-sub-grid-right{
	float:right;
	width:62%;
}
.footer-grid-sub-grid-right h4 a{
	text-transform: capitalize;
    font-size: 14px;
    line-height: 1.5em;
    color: #999;
    text-decoration: none;
}
.footer-grid-sub-grid-right h4 a:hover{
	color:#fff;
}
.footer-grid-sub-grid-right p{
	margin:.5em 0 0;
	color:#999;
	font-size:14px;
	line-height:1.8em;
}
.footer-grid-sub-grids:nth-child(3){
	    margin: 0.5em 0;
}
.footer-logo{
	text-align:center;
	margin:3em 0;
}
.footer-logo h2 a{
	font-size: 1.6em;
    color: #575757;
    text-decoration: none;
    position: relative;
    font-family: 'Wallpoet', cursive;
    text-transform: uppercase;
}
.footer-logo h2{
	position:relative;
}
.footer-logo h2 a span{
	display:block;
	font-size:.3em;
	letter-spacing:5px;
	text-transform:uppercase;
	padding-top: 10px;
	font-family: 'Open Sans', sans-serif;
}
.footer-logo h2:before, .footer-logo h2:after {
    content: '';
    width: 28%;
    height: 4px;
    border-top: 1px solid #575757;
    position: absolute;
    top: 40%;
}
.footer-logo h2:before{
    left: 0%;
}
.footer-logo h2:after{
    right: 0%;
}
.copy-right p{
	text-align:center;
	color:#999;
	margin:0;
	line-height:1.8em;
}
.copy-right p a{
	color: #f5da62;
	text-decoration:none;
}
.copy-right p a:hover{
	color:#999;
}
/*-- //footer --*/
/*-- /news --*/
.news-text {
    float: right;
    width: 63%;
}
.news-img {
    float: left;
    width: 35%;
	position: relative;
}
.news-text.two {
    float:left;
    width: 63%;
}
.news-img.two {
    float:right;
    width: 35%;
}
.news-text h3,.videos h3  {
    font-size: 1.4em;
    color: #333333;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 0.5em;
}
.news-text h3  a,.videos h3 a,ul.news li a:hover,ul.news li:hover  i{
	 color:#e16b5b;
	 text-decoration:none;
}
.videos iframe{
	width:100%;
	height:300px;
	border:none;
}
.videos {
    margin: 0em 0 2em 0;
    border: 1px solid #ddd;
    padding: 13px;
}
.news-grid,.related-posts,.popular-videos {
    margin-bottom: 2.7em;
    border: 1px solid #ddd;
    padding: 15px;
}
.agileits_twitter_posts {
       margin: 1em 0;
}
.agileits_twitter_posts ul li{
	    list-style-type: none;
    color: #777;
    line-height: 2em;
    font-size: 0.9em;
	    padding-left: 1em;
}
.agileits_twitter_posts ul li a{
	color:#212121;
	text-decoration:none;
}
.blo-top,.blo-top1 {
    border: 1px solid #ddd;
    padding: 12px;
    margin: 0 0 1em 0;
}
.agileits_twitter_posts ul li a:hover{
	color: #e16b5b;
}
.agileits_twitter_posts ul li i {
    color:#2eacf6;
    padding-left: 0em;
    margin-right: 1em;
}
.agileits_twitter_posts ul li span {
    margin-left: 2em;
    display: block;
}
.agileits_twitter_posts ul li:nth-child(2) {
    margin: 1.5em 0;
}
ul.news li {
    display: inline-block;
    margin-right: 0.7em;
}
ul.news li a{
    font-size: 0.9em;
    color: #777;
}
ul.news li i{
	color:#333;
}

span.price {
    background-color:#e16b5b;
    color: #FFF;
    display: block;
    font-size: 14px;
    padding: 7px 15px;
    position: absolute;
    right: 0px;
    text-align: right;
    top: -1px;
    z-index: 2;
    line-height: 1;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
span.price:after {
    position: absolute;
    right: 0px;
    top: 50%;
    content: " ";
    margin-top: 13px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 11px 0px 0;
    border-color:#e16b5b transparent transparent transparent;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
span.price1 {
    background-color:#EFC509;
    color: #FFF;
    display: block;
    font-size: 14px;
    padding: 7px 15px;
    position: absolute;
    left: 0px;
    text-align: right;
    top: -1px;
    z-index: 2;
    line-height: 1;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
span.price1:after {
    position: absolute;
    left: 0px;
    top: 50%;
    content: " ";
    margin-top: 13px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 13px 4px 26px 6px;
    border-color: #d8b208 transparent transparent transparent;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.news-grid,.related-posts,.popular-videos {
    margin-bottom: 2.7em;
    border: 1px solid #ddd;
    padding: 15px;
}

.banner-info form {
		width: 60%;
		margin: 2% auto 0;
	}
.banner-info form {
		width: 83%;
		margin: 2% auto 0;
	}
.banner-info h2 {
		font-size: 1.4em;
		margin: 0;
		font-weight: 300;
		margin-top: 0.3em;
	}
.banner-info h1 a {
		font-size: 0.75em;
	}
.banner-info p {
		font-size: 0.85em;
		letter-spacing: 3px;
		margin-top: 7px;
	}
.banner-info form {
		width: 95%;
		margin: 2% auto 0;
	}
.banner-info input[type="submit"] {
		padding: 10px 0;
		font-size: 0.95em;
		width: 20%;
		margin-left: 0em;
		float: left;
	}
.banner-info h2 {
    font-size: 2.0em;

	}
.banner-info h1 a {
		font-size: 2.0em;
	}
.banner-info {
		padding: 1% 0 0 0;
		color: #fff;
		text-align: center;
	}
.banner-info input[type="submit"] {
			padding: 7px 0;
			font-size: 0.95em;
			width: 20%;
			margin-left: 0em;
			/*float: none;*/
	}
.service-breadcrumb {
    padding:1em 0;
	background: #f4f4f4;
}
/*--/banner-inner---*/
.banner-inner {
    background: url(../images/blog.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height:300px!important;

}
.banner-inner-dott {
	background:url(../images/dots.png)repeat 0px 0px;
    text-align:center;
    padding-bottom:450px;
}
/*-- header --*/
input[type="submit"],.w3l_header_left ul li a,.related-post-right h4 a,.comments-grid-right h4 a,.reply a,.w3_single_grid_left_grid ul li a,ul.contact_info li a,.w3ls_services_bottom_grid_grid_pos,.footer-copy p a,.w3l_services_grid h4 a,.agileinfo_footer_grid ul li a,.wthree_service_breadcrumb_left ul li a{
	transition: .5s ease-in;
	-webkit-transition: .5s ease-in;
	-moz-transition: .5s ease-in;
	-o-transition: .5s ease-in;
	-ms-transition: .5s ease-in;
}
.w3l_header_left{
	float:left;
	margin: .3em 0 0;
}
.w3l_header_left ul li{
	display:inline-block;
	margin-right:2em;
	font-size:14px;
	color:#999;
}
.w3l_header_left ul li span{
	padding-right:1em;
}
.w3l_header_left ul li a{
	color:#212121;
	text-decoration:none;
}
.w3l_header_left ul li a:hover{
	color:#999;
}
.w3l_header_right{
	float: right;
}
.header-top {
		padding: 0.5em 0.5em;
	}
.banner-inner {
	    min-height: 203px!important;
	}
